{% extends 'base.html.twig' %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option normal-breadcrumb spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Bienvenido a Megapod</h2>
                        <div class="breadcrumb__links">
                            <a href="{{ path('lanzamientos')}}"><i class="fa fa-home"></i> Inicio</a>
                            <span>¿Quienes somos?</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Episodes Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="about__text">
                        <span>Somos Megapod</span>
                        <h2>Acerca de Nosotros</h2>
                        <p>Líder en el mercado discográfico</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="about__item">
                        <h6>Una apuesta en la industria
                        </h6>
                        <p class="mb-2">Por medio de nuestra herramienta es muy fácil encontrar la música o el podcast perfectos para cada momento desde tu teléfono, computadora, tablet y muchos otros dispositivos.</p>
                        <p>Hay millones de canciones y episodios. Entonces, ya sea que estés manejando, haciendo ejercicio, de fiesta o en un momento relajante, la música o el podcast perfectos siempre están a tu alcance.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="img/about-pic.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="team spad pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Patrocinadores</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="img/team/team-1.jpg" alt="">
                        <h4>Alfred Day</h4>
                        <span>PRODUCTOR</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="img/team/team-2.jpg" alt="">
                        <h4>Jayden White</h4>
                        <span>PRESIDENTE DE MD RECORDS</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="img/team/team-3.jpg" alt="">
                        <h4>Vincent Reid</h4>
                        <span>CEO POOL MUSIC</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}