{% extends 'base.html.twig' %}

{% block content %}

<section class="episodes-details spad black">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="{{path('login')}}" title="Regresar"><i class="fa fa-arrow-left float-right text-white mt-4" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-12 mt-4">
                <div class="episodes__details__content">
                    <div class="episodes__details__pic">
                        <div class="row"> 
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <img src="{{ data.images[0].url}}" alt="">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 text-white">
                                <h4 class=" text-white mb-4">{{ data.name }}</h4>
                                 <h6>Popularidad: <span class="{% if data.popularity >= 70 %} text-success {% elseif data.popularity >= 40 and data.popularity <= 69 %} text-warning {% elseif data.popularity >= 0 and data.popularity <= 39 %} text-danger {% endif %} font-weight">{{ data.popularity}}</span></h6>
                                <h6>Seguidores: {{ data.followers.total}}</h6>
                                <h6>Género: </h6>
                                {% if data.genres is empty %}
                                    Sin información 
                                {% else %}
                                    <div class="row p-3"> 
                                        {% for genres in data.genres %}
                                            <div class="col-sm-3">{{genres}}<hr class="bg-white"></div>
                                        {% endfor %}  
                                    </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="episodes__details__desc">
                        <table id="songs" class="table w-100">
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Album</th>
                                    <th>Canción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for songs in songs %}
                                    <tr>
                                        <td class="episodes__details__pic img table-img"><img src="{{ songs.album.images[0].url }}"></td>
                                        <td>{{ songs.name}}</td>
                                        <td><a href="{{songs.external_urls.spotify}}" target="blank" class="play-btn"><img src="{{ asset('img/play.png') }}" alt="" class="text-decoration-none"> {{ songs.album.name }} </a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}