{% extends 'base.html.twig' %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option normal-breadcrumb spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Contáctanos</h2>
                        <div class="breadcrumb__links">
                            <a href="{{ path('lanzamientos')}}"><i class="fa fa-home"></i> Inicio</a>
                            <span>Contacto</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__map">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58345.47540673744!2d-74.09991077168051!3d4.658635290708359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9afe484261e9%3A0xf6b262f63cd9e822!2sBarrios%20Unidos%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1640620972421!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact__widget__item">
                        <img src="img/icons/ci-1.png" alt="">
                        <h4>Dirección</h4>
                        <p>Bogota DC</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact__widget__item">
                        <img src="img/icons/ci-2.png" alt="">
                        <h4>Teléfono</h4>
                        <p>+57 999999999</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact__widget__item">
                        <img src="img/icons/ci-3.png" alt="">
                        <h4>Horario de Trabajo</h4>
                        <p>Abierto: Lunes a Viernes de 8am a 6pm</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form">
                        <h2>Déjanos un Mensaje</h2>
                        <p>Con gusto te atenderemos</p>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" placeholder="Nombre y apellido">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" placeholder="Correo electrónico">
                                </div>
                                <div class="col-lg-12 text-center">
                                    <textarea placeholder="Mensaje"></textarea>
                                    <button type="submit" class="site-btn">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}