{% block content %}
    <!-- Episodes Section Begin -->
 
    <section class="episodes spad black">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 class="text-white">Últimos Lanzamientos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for data in data %}
                <div class="col-lg-4 col-md-6">
                    <div class="episodes__item set-bg" data-setbg="{{ data.images[0].url}}">
                        <div class="episodes__text">
                            <h4 class="mb-4">{{ data.name }}</h4>
                            {% for artists in data.artists %}
                               <div class="tags mt-2 text-white"><a href="{{path('artista', {id: artists.id})}}"><span class="icon_tags_alt"></span> {{ artists.name }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}