{% block footer %}
<!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{{ asset('img/footer-bg.jpg')}}">
        <div class="container">
            <div class="footer__subscriber">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="footer__subscriber__text">
                            <h3>Suscríbete para más música</h3>
                            <p>Recibe los nuevos lanzamientos de tus artistas favoritos</p>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-2">
                        <form action="javascript:void()" class="footer__subscriber__form">
                            <input type="email" class="email from-control" placeholder="Ingresa tu correo electrónico" required>
                            <button class="site-btn subscribe">Suscríbete</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="footer__widget">
                        <div class="footer__logo">
                            <a href="/lanzamientos"><img src="{{ asset('img/logo.png')}}" alt=""></a>
                        </div>
                        <p class="footer__copyright__text">Sin Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script> Licencia GNU <i class="fa fa-heart-o" aria-hidden="true"></i> General Public License</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="footer__social">
                        <a href="https://www.facebook.com/Spotify" target="blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/spotify" target="blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://instagram.com/spotify" target="blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Section End -->
{% endblock %}