{% block stylesheet %}
   
{% endblock %}

{% block header %}
 <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="header__logo">
                        <a href="{{ path('login') }}"><img src="{{ asset('img/logo.png')}}" alt=""></a>
                    </div>
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{{ path('nosotros') }}">¿Quienes somos?</a></li>
                            <li><a href="{{ path('contacto') }}">Contáctanos</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                    <div class="header__right">
                        <div class="header__right__social">
                            <a href="https://www.facebook.com/Spotify" target="blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/spotify" target="blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://instagram.com/spotify" target="blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
{% endblock %}
