<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Megapod Template">
        <meta name="keywords" content="Megapod, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block stylesheets %}
                <!-- icon -->
                <link rel="shortcut icon" href="{{ asset('img/download.jpg')}}" type="image/x-icon">
                <!-- Google Font -->
                <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

                <!-- Css Styles -->
                <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}" type="text/css" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('css/elegant-icons.css')}}" type="text/css" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('css/slicknav.min.css')}}" type="text/css" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css" rel="stylesheet">

                <!-- Bootstrap Datatable -->
                <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
                <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">

                <!-- Sweet Alert -->
                <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">

        {% endblock %}

    </head>
    <body>
        {% block body %}

        {% block menu %}
            {{ include('layouts/menu.html.twig') }}
        {% endblock %}

        {% block header %}
            {{ include('layouts/header.html.twig') }}
        {% endblock %}

        {% block content %}
            <!-- Principal section -->
            <section class="hero spad set-bg" data-setbg="{{ asset('img/hero/hero-bg.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h5><span class="icon_calendar"></span> 05 Feb 2022</h5>
                                <h2>Tomorrowland & KNTXT: Charlotte de Witte</h2>
                                <a href="https://ghent.kntxt.be/" class="primary-btn">¡Adquiere tus entradas Ya!</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__pic set-bg" data-setbg="https://dancingastronaut.com/wp-content/uploads/2018/06/SS18-THURSDAY-SOLOVOV-8591_CharlotteDeWitte_preview.jpg">
                                <a href="https://youtu.be/2c4PRA59TD4" target="blank" class="play-btn"><img src="{{ asset('img/hero/play-btn.png')}}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single__track">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="single__track__item">
                                    <div class="single__track__item__pic">
                                        <img src="{{ asset('img/hero/hero-track.jpg')}}" alt="">
                                    </div>
                                    <div class="single__track__item__text">
                                        <h5>Understanding Operating</h5>
                                        <span>Kyle Hawkins</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="single__track__option">
                                    <div class="jp-jplayer jplayer" data-ancestor=".jp_container" data-url="{{ asset('music-files/2.mp3')}}">
                                    </div>
                                    <div class="jp-audio jp_container" role="application" aria-label="media player">
                                        <div class="jp-gui jp-interface">
                                            <!-- Player Controls -->
                                            <div class="player_controls_box">
                                                <button class="jp-play player_button" tabindex="0"></button>
                                            </div>
                                            <!-- Progress Bar -->
                                            <div class="player_bars">
                                                <div class="jp-progress">
                                                    <div class="jp-seek-bar">
                                                        <div>
                                                            <div class="jp-play-bar">
                                                                <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                            </div>
                                            <!-- Volume Controls -->
                                            <div class="jp-volume-controls">
                                                <button class="jp-mute" tabindex="0"><span
                                                    class="icon_volume-high"></span></button>
                                                <div class="jp-volume-bar">
                                                    <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-btns">
                                            <a href="#"><i class="social_share"></i> Compartir</a>
                                            <a href="#"><i class="fa fa-download"></i> Descargar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Presentation Section End -->

            <!--List Release Section -->
                {{ include('pages/releases.html.twig', {data: data}) }}
            <!--Release Section End -->
            
            {% endblock %}

            <!-- Call To Action Section Begin -->
            <section class="callto spad set-bg" data-setbg="{{ asset('img/call-bg.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="callto__text">
                                <h2>Millones de canciones y podcasts</h2>
                                <p>No necesitas tarjeta de crédito.</p>
                                <a href="https://www.spotify.com/bo/signup?forward_url=https%3A%2F%2Fwww.spotify.com%2Fbo%2Fdownload%2F" class="primary-btn register" target="blank">Regístrate Gratis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Principal section End -->
        {% endblock %}
       
        {% block footer %}
            {{ include('layouts/footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
                <!-- Js Plugins -->
                <script src="{{ asset('js/jquery-3.3.1.min.js')}}" type="text/javascript"></script>
                <script src="{{ asset('js/bootstrap.min.js')}}" type="text/javascript"></script>
                <script src="{{ asset('js/mixitup.min.js')}}" type="text/javascript"></script>
                <script src="{{ asset('js/jquery.slicknav.js')}}" type="text/javascript"></script>
                <script src="{{ asset('js/main.js')}}" type="text/javascript"></script>
                <script src="{{ asset('js/customize.js')}}" type="text/javascript"></script>

                <!-- Music Plugin -->
                <script src="{{ asset('js/jquery.jplayer.min.js')}}" type="text/javascript"></script>
                <script src="{{ asset('js/jplayerInit.js')}}" type="text/javascript"></script>

                <!-- Bootstrap Datatable -->
                <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
                <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
                <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>

                 <!-- Sweet Alert -->
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" type="text/javascript"></script>
        {% endblock %}

    </body>
</html>
